/* h1 {
  color: #a62929;
  text-align: center;
  background-color: lightblue;
}
h2 {
  color: #d47b47;
  text-align: center;
  background-color: lightblue;
}
h3 {
  color: #d47b47;
  text-align: center;
  background-color: rgb(52, 51, 17);
}
h3 {
  color: #582d14;
  text-align: center;
  background-color: rgb(227, 97, 141);
}
form {
  width: 350px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #fda9a9;
}

form input {
  padding: 3px 10px;
  border: 1px solid #fafafa;
  border-radius: 3px;
  margin: 8px 10px;
  display: inline-block;
}

button {
  text-align: center;
  font-weight: bold;
} */

.background {
  background-color: rgb(247, 184, 171);
}
